// Colors
$primary-color: #0275d8;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$dark-color: #292b2c;
$light-color: #f7f7f7;
$white-color: #fff;
$black-color: #000;

$spaceValues: 0.25rem, 0.5rem, 1rem, 1.5rem, 3rem;
$spaceValuesLength: 6;
$displayValues: 'block', 'inline-block', 'flex', 'none';
$displayValuesLength: 5;
$justifyContentValues: 'space-between', 'space-around', 'center', 'space-evenly', 'flex-start', 'flex-end';
$justifyContentValuesLength: 7;
$alignItemsValues: 'stretch', 'start', 'end', 'center';
$alignItemsValuesLength: 5;
$flexDirectionValues: 'row', 'column', 'row-reverse', 'column-reverse';
$flexDirectionValuesLength: 5;
$cols: 13;
